/* ========================================= clearfix == */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

.clear{
  clear: both;
}
/* ========================================= clearfix == */

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);*/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans bold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'Open Sans', sans-serif;
  background-color: #D9E0E7;
}

strong, b,
optgroup,
dt,kbd kbd,
.control-label,
.label,.badge,
.alert .alert-link,
.close,
th{
  font-family: 'Open Sans bold', sans-serif;
}

/*formulario de acceso*/
.logoLogin{
  font-size: 17px;
}
  .logoLogin strong{
    display: block;
    font-weight: 700;
  }

.formLogin{
  background-color: #242A30;
  color: #999;
  padding: 15px;
}
.form-signin {
  max-width: 440px;
  /*padding: 15px;*/
  margin: 50px auto 0 auto;
}
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
    .form-signin .form-control:focus {
      z-index: 2;
    }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
/*formulario de acceso*/

/*tecladito para contrasenhas*/
ul.contenedor_botones {
  margin: 0;
  padding: 1px 0px 0px 0px;
  /*height: 45px;*/
  text-align: center;
}
  ul.contenedor_botones li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    padding: 5px 0 0 0;
    margin: 0px 0px 1px 1px;
    text-align: center;
    color: #666;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    /*display: block;*/
    height: 36px;
    background-color: #d1d2d5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
    ul.contenedor_botones li.numeros {
      width: 36px;
    }
    ul.contenedor_botones li.teclado_borrar {
      width: 36px;
      color: #666;
      padding: 5px 0 0 0;
      text-indent: -9999px;
      background-color: #d1d2d5;
      background-image: url('../images/borrar.png');
      background-repeat: no-repeat;
      background-position: center;
    }
    ul.contenedor_botones li.when_numeros_over {
      background-color: #b6b8bd;
      color: #333 ;
    }
    ul.contenedor_botones li.when_borrar_over {
      background-color: #b6b8bd;
      color: #333;
    }
  /*tecladito para contrasenhas*/

/*encabezado*/
.navbar-brand{
  background: url('../images/logo.png') no-repeat 10px 13px;
  padding: 25px 0 0 210px;
  height: 100px;
}
.navbar-default{
  border-bottom: 1px solid #1AB394;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover{
  background: #1AB394 !important;
  color: #FFF !important;
  text-shadow: none;
}
@media (min-width: 768px){
  .navbar-nav {
    margin-left: 80px;
  }
  .navbar-nav li{
    text-align: center;
  }
    .navbar-nav > li > a{
      display: inline-block;
      width: 100px;
      padding: 30px 15px;
      text-align: center;
    }
      .navbar-nav > li a .glyphicon{
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
      }
}

/*encabezado*/


.form-group{
  /*margin-bottom: 5px;*/
}
hr{
  margin: 10px 0;
}

/*paneles principales*/
.panel-default .panel-heading{
  background: #242A30;
  color: #FFF;
}
  .panel-default .panel-heading span {
    margin-top: -20px;
    font-size: 15px;
  }
    .panel-index .panel-body{
      /*min-height: 360px;*/
    }
    .panel-index .panel-heading h3{
      font-size: 20px;
      padding: 15px 0;
    }
      .panel-index .panel-heading span {
        margin-top: -40px;
      }
      .panel-index .panel-heading h3 .glyphicon{
        font-size: 24px;
        color: #666A6F;
        top: 5px;
      }
        .panel-index .panel-heading .inf{
          border-top: 1px solid #1B1F24;
          padding: 10px 0 5px 0;
        }
          .panel-index .panel-heading .inf a{
            color: #FFF;
            text-decoration: underline;
          }
.clickable {
  cursor: pointer;
}
/*paneles principales*/

/*footer*/
footer{
  background-color: #363C42;
  color: #777;
}
  footer a{
    color: #777;
  }
  footer a:hover{
    color: #FFF;
  }
  footer h4{
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
  }
  footer .contacto{
    font-size: 20px;
  }
    footer .contacto .glyphicon{
      color: #1AB394;
    }
/*footer*/

.breadcrumb{
  background-color: transparent !important;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 15px;
  text-align: right;
}

.nav-pills-cuentas .glyphicon {
  font-size: 30px;
  float: left;
  margin: 5px 10px 0 0;
}
.nav-pills-cuentas .glyphicon.pull-right {
  font-size: 20px;
  margin: 12px -5px 0 0;
}
.nav-pills-cuentas strong{
  display: block;
  font-size: 20px;
}
.nav-pills-cuentas li small{
  font-size: 14px;
}
.nav-pills-cuentas li a{
  color: #242A30;
}
.nav-pills-cuentas li.active a{
  background-color: #242A30;
}
.nav-pills-cuentas li.active a:hover{
  background-color: #1AB394;
}

/*.nav-pills > li.active > a{
  background-color: #1AB394;
}
  .nav-pills > li.active:hover > a{
    background-color: #242A30;
  }*/

.nav-pills-normal li a{
  padding: 20px;
  font-size: 20px;
  color: #242A30;
}
  .nav-pills-normal li.active a,
  .nav-pills-normal li a:focus,
  .nav-pills-normal li a:visited
  .nav-pills-normal li.active a:focus{
    background-color: #242A30;
    color: #FFF;
  }




.bannerChico{
  background-color: #F8AC59;
  color: #FFF;
}
  .bannerChico a{
    color: #FFF;
    text-decoration: underline;
  }




